<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/auth.css" />
</head>
        
<body>  
    <div class="form-container">
        <p class="form-header">Login to AudioChroma</p>
        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Login">
        </form>
		<p>or</p>
    </div>
    <a id="signUpLink" href="/signup">Sign Up!</a>
    <hr>
    <span id="loginMsg">
    <%= msg %>
    </span>
</body>
        
</html>
